<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <table border="1" id="userTable">
        <th>id</th>
        <th>name</th>
        <th>call</th>

    </table>
</div>
</body>
<script>
    function get_cookie(name) {
        let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
    }
    function setCookie(name, value, options = {}) {

        options = {
            path: '/', // 경로 지정
            ...options // 아규먼트로 옵션을 넘겨줬을경우 전개연산자로 추가 갱신
        };

        if (options.expires instanceof Date) {
            options.expires = options.expires.toUTCString(); // 생 Date 객체라면 형식에 맞게 인코딩
        }

        let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

        for (let optionKey in options) {
            updatedCookie += "; " + optionKey;
            let optionValue = options[optionKey];
            if (optionValue !== true) { // 밸류가 없다면
                updatedCookie += "=" + optionValue;
            }
        }

        document.cookie = updatedCookie; // 새로 갱신
    }
    const myId = get_cookie('userid')
    fetch(`https://localhost:8081/getRoomId?id=${myId}`).then((roomRes)=> roomRes.json()).then((Resp) => {
        console.log(Resp)
        if(Resp.data[0].roomid !== null && Resp.statusCode == 200 && Resp.data[0].roomid !== "") {
            window.location.href = `https://localhost:8081/${Resp.data[0].roomid}`
        }else{
            fetch('https://localhost:8081/user').then((res) => res.json()).then((resp) => {
                if(resp.statusCode === 200) {
                    for(let i=0; i < resp.data.length;i++) {
                        if (resp.data[i].id !== myId){
                            console.log(resp)
                            const html = `
                                        <tr>
                                            <td id='${resp.data[i].id}'>${resp.data[i].id}</td>
                                            <td id='${resp.data[i].name}'>${resp.data[i].name}</td>
                                            <td>
                                                <button id='${resp.data[i].id}Btn'>join</button>
                                            </td>
                                        </tr>`
                            $("#userTable").append(html)
                            $(`#${resp.data[i].id}Btn`).click(() => {
                                fetch('https://localhost:8081/join',{
                                    method : "POST",
                                    headers : {
                                        "Content-Type" : "application/json"
                                    },
                                    body : JSON.stringify({
                                        myId,
                                        partnerId : resp.data[i].id
                                    })
                                }).then(res => res.json()).then((roomResp) => {
                                    console.log(resp)
                                    setCookie('partnerId', `${resp.data[i].id}`, {secure: true, 'max-age': 3600});
                                    if(roomResp.statusCode == 200){
                                        window.location.href = `https://localhost:8081/${roomResp.roomId}`
                                    }
                                })
                            })
                        }
                    }
                }
            })
        }
    })


</script>
</html>